section.pricing.text-center#pricing-anchor
	.container
		.title__holder.separator
			h2.h2.text-uppercase our pricing
			p A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
		.row.justify-content-center
			a.col-xl-4.col-lg-6.col-md-8.pb-4.pricing__items(href="#")
				table
					thead.text-center
						td.h5.text-uppercase.px-3 starter
						td.anchor.rounded-circle(href="#")
							.pricing__price
								strong.price__number $19
								span.price__text per month
					tr.pricing__info
						td
							strong Competition Analysis Methods
						td
							strong All Ranked URLs
						td
							strong International Support System
						td
							strong Social Media Tracking
						td
							a(href="#").btn Choose plan
			a.col-xl-4.col-lg-6.col-md-8.pb-4.pricing__items(href="#")
				table
					thead.text-center
						td.h5.text-uppercase.px-3 premium
						td.anchor.rounded-circle(href="#")
							.pricing__price
								strong.price__number $39
								span.price__text per month
					tr.pricing__info
						td
							strong Competition Analysis Methods
						td
							strong All Ranked URLs
						td
							strong International Support System
						td
							strong Social Media Tracking
						td
							a(href="#").btn Choose plan
			a.col-xl-4.col-lg-6.col-md-8.pb-4.pricing__items(href="#")
				table
					thead.text-center
						td.h5.text-uppercase.px-3 business
						td.anchor.rounded-circle(href="#")
							.pricing__price
								strong.price__number $99
								span.price__text per month
					tr.pricing__info
						td
							strong Competition Analysis Methods
						td
							strong All Ranked URLs
						td
							strong International Support System
						td
							strong Social Media Tracking
						td
							a(href="#").btn Choose plan