section.trial-test.text-center
	.container
		h3.h3 Let's Get Started Now. 
			span.font-weight-bold It's FREE!
		p 30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.
		a.btn.text-uppercase(href="#") start free trial