footer.footer
	.container
		.row.text-center.footer-holder
			ul.col-xl-4.col-lg-6.col-md-6.col-sm-12.col-12
				li
					a(href="#" title="skype").icon-f-2
						span Skype
				li
					a(href="#" title="google").icon-twitter
						span Google
				li
					a(href="#" title="skype").icon-wifi-2
				li
					a(href="#" title="google").icon-g-2
						span Google
				li
					a(href="#" title="skype").icon-in-2
						span Skype
				li
					a(href="#" title="google").icon-skype-1
						span Google
				li
					a(href="#" title="google").icon-v-1
						span Google
				li
					a(href="#" title="google").icon-t-1
						span Google
				
			.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12.text-xl-right.text-lg-right.text-md-right.footer-area
				span Kazi Erfan © All Rights Reserved 