body {
  font-family: $open;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: $white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
//   font: 600 16px/24px $source;
}
h1.h1 {
  font-size: 72px;
  letter-spacing: 7.2px;
}
p {
  font: 400 14px/24px $source;
  color: $grey-text;
  &:last-child {
    margin-bottom: 0;
  }
}
h2.h2 {
  font: 700 36px/24px $source;
  letter-spacing: 3.6px;
  color: $grey-text2;
}
a {
  outline: none;
  &:hover {
    text-decoration: none;
  }
}
.btn.focus,
.btn:focus {
  box-shadow: none;
}
img {
  width: 100%;
}
.title__holder {
  margin-bottom: 65px;
  padding-bottom: 29px;
  h2{
	  margin-bottom: 23px;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
button {
  outline: none;
  &:focus {
    outline: none;
  }
}
address {
  margin-bottom: 0;
}
.anchor {
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: $white-color;
  z-index: 6;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -35px;
  box-shadow: 0 0 2px 5px $shadows;
  @include transition(background-color box-shadow);
  &:hover {
    box-shadow: 0 0 6px 5px $shadows;
    background-color: $white;
  }
  &:before {
    position: absolute;
    color: $orange;
    font-size: 30px;
    left: 0;
    right: 0;
    width: 30px;
    margin: auto;
    top: 25%;
  }
}
input,
textarea {
  border: none;
  border-bottom: 1px solid $grey-bord;
  color: $grey-text;
  font: 600 16px/24px $source;
  resize: none;
  padding: 15px 10px;
  width: 100%;
  outline: none;
}
textarea {
  height: 100px;
}
#go-top {
  position: fixed;
  z-index: 30;
  bottom: 6%;
  right: 1%;
  cursor: pointer;
  border-radius: 50%;
  display: none;
  width: 55px;
  height: 55px;
  background: $orange;
  @include transition(opacity);
  &:after {
    content: "\e90e";
    font-family: $ico;
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include transition(color);
  }
}

#go-top:hover {
  opacity: 0.9;
  &:after {
    color: $white;
  }
}
