.btn {
  padding: 10px 30px;
  font: 700 14px/24px $open;
  color: $white;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  max-width: 250px;
  border: none;
  background-color: $orange;
  @include hover-btn2;
  @include transition(color background-color opacity border-color);
}
