@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?733h2d');
    src:  url('../fonts/icomoon.eot?733h2d#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?733h2d') format('truetype'),
      url('../fonts/icomoon.woff?733h2d') format('woff'),
      url('../fonts/icomoon.svg?733h2d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-CoderDojo_Original_Roundel_with_Long_Form_Logotype .path1:before {
	content: "\e91c";
	color: rgb(0, 0, 0);
  }
  .icon-CoderDojo_Original_Roundel_with_Long_Form_Logotype .path2:before {
	content: "\e91d";
	margin-left: -3.5400390625em;
	color: rgb(254, 254, 254);
  }
  .icon-CoderDojo_Original_Roundel_with_Long_Form_Logotype .path3:before {
	content: "\e91e";
	margin-left: -3.5400390625em;
	color: rgb(0, 0, 0);
  }
  .icon-CoderDojo_Original_Roundel_with_Long_Form_Logotype .path4:before {
	content: "\e91f";
	margin-left: -3.5400390625em;
	color: rgb(0, 0, 0);
  }
  .icon-CoderDojo_Original_Roundel_with_Long_Form_Logotype .path5:before {
	content: "\e920";
	margin-left: -3.5400390625em;
	color: rgb(255, 255, 255);
  }
  .icon-sentry-logo-black:before {
	content: "\e921";
  }
  .icon-Discord-LogoWordmark-White:before {
	content: "\e922";
  }
  .icon-tiktok-icon-black-11 .path1:before {
	content: "\e923";
	color: rgb(0, 0, 0);
  }
  .icon-tiktok-icon-black-11 .path2:before {
	content: "\e925";
	margin-left: -1em;
	color: rgb(238, 29, 82);
  }
  .icon-tiktok-icon-black-11 .path3:before {
	content: "\e926";
	margin-left: -1em;
	color: rgb(255, 255, 255);
  }
  .icon-tiktok-icon-black-11 .path4:before {
	content: "\e927";
	margin-left: -1em;
	color: rgb(105, 201, 208);
  }
  .icon-tiktok-icon-black-11 .path5:before {
	content: "\e928";
	margin-left: -1em;
	color: rgb(105, 201, 208);
  }
  .icon-tiktok-icon-black-11 .path6:before {
	content: "\e929";
	margin-left: -1em;
	color: rgb(105, 201, 208);
  }
  .icon-tiktok-icon-black-11 .path7:before {
	content: "\e92a";
	margin-left: -1em;
	color: rgb(105, 201, 208);
  }
  .icon-tiktok-icon-black-11 .path8:before {
	content: "\e92b";
	margin-left: -1em;
	color: rgb(238, 29, 82);
  }
  .icon-tiktok-icon-black-11 .path9:before {
	content: "\e92c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
  }
  .icon-tiktok-icon-black-1:before {
	content: "\e91b";
  }
  .icon-archlinux-logo-light-scalable1ae4cc2e2469:before {
	content: "\e924";
  }
  .icon-Netflix_2015_logo:before {
	content: "\e932";
  }
  .icon-afaf-2:before {
	content: "\e900";
	color: #fff;
  }
  .icon-anthor-2:before {
	content: "\e90f";
	color: #e74c3c;
  }
  .icon-book-2:before {
	content: "\e910";
	color: #e74c3c;
  }
  .icon-f-2:before {
	content: "\e911";
  }
  .icon-g-2:before {
	content: "\e912";
  }
  .icon-in-2:before {
	content: "\e913";
  }
  .icon-left-1:before {
	content: "\e914";
  }
  .icon-photo-1:before {
	content: "\e915";
	color: #e74c3c;
  }
  .icon-skype-1:before {
	content: "\e916";
  }
  .icon-tv-1:before {
	content: "\e917";
	color: #e74c3c;
  }
  .icon-t-1:before {
	content: "\e918";
  }
  .icon-v-1:before {
	content: "\e919";
  }
  .icon-wifi-2:before {
	content: "\e91a";
  }
  .icon-follow-me-on-soundcloud:before {
	content: "\e90d";
  }
  .icon-eyeglasses:before {
	content: "\e901";
  }
  .icon-left-arrow-black-button-square:before {
	content: "\e902";
  }
  .icon-chat:before {
	content: "\e903";
  }
  .icon-star:before {
	content: "\e904";
  }
  .icon-bulb:before {
	content: "\e905";
  }
  .icon-like:before {
	content: "\e906";
  }
  .icon-arrow-up-thick:before {
	content: "\e90e";
  }
  .icon-heart-outline:before {
	content: "\e907";
  }
  .icon-device-desktop:before {
	content: "\e908";
  }
  .icon-skype:before {
	content: "\e909";
  }
  .icon-anchor:before {
	content: "\e90a";
  }
  .icon-bookmark-outline:before {
	content: "\e90b";
  }
  .icon-google:before {
	content: "\e90c";
  }
  .icon-heart-o:before {
	content: "\f08a";
  }
  .icon-twitter:before {
	content: "\f099";
  }
  .icon-facebook:before {
	content: "\f09a";
  }
  .icon-facebook-f:before {
	content: "\f09a";
  }
  .icon-bars:before {
	content: "\f0c9";
  }
  .icon-navicon:before {
	content: "\f0c9";
  }
  .icon-reorder:before {
	content: "\f0c9";
  }
  .icon-angle-up:before {
	content: "\f106";
  }
  