//Colors
$black: #000;
$white: #fff;
$menu-color: #f4f5f9;
$hover-color: #e74c3c;

//font
$open: 'Open Sans', sans-serif;
$source: 'Source Sans Pro', sans-serif;
//fz

///media screen

$default: 1200px;
$medium: 1024px;
$small: 768px;
$tiny: 420px;