section.about.border-bottom
	.container
		.row.mx-auto.text-center
			a(href="#").col-3.text-decoration-none.about__item.text-reset
				h3.matchheight1.h3.text-uppercase Sleek design
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			a(href="#").col-3.text-decoration-none.about__item.text-reset
				h3.matchheight1.h3.text-uppercase Sleek design
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			a(href="#").col-3.text-decoration-none.about__item.text-reset
				h3.matchheight1.h3.text-uppercase Sleek design
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			a(href="#").col-3.text-decoration-none.about__item.text-reset
				h3.matchheight1.h3.text-uppercase Sleek design
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.