section.about.border-bottom#about-anchor
	.container
		.row.mx-auto.text-center.flex-wrap.justify-content-center.justify-content-xl-between
			a(href="#").col-12.col-lg-3.col-md-6.col-sm-6.text-decoration-none.about__item.text-reset.ml-xl-0.icon-eyeglasses
				h3.matchheight1.h3.text-uppercase Sleek designa
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			a(href="#").col-12.col-lg-3.col-md-6.col-sm-6.text-decoration-none.about__item.text-reset.icon-heart-o
				h3.matchheight1.h3.text-uppercase Sleek design
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			a(href="#").col-12.col-lg-3.col-md-6.col-sm-6.text-decoration-none.about__item.text-reset
				.img-wrap
					img(src="img/ico-2.png")
				h3.matchheight1.h3.text-uppercase Sleek design
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			a(href="#").col-12.col-lg-3.col-md-6.col-sm-6.text-decoration-none.about__item.text-reset.mr-xl-0
				.img-wrap
					img(src="img/ico-1.png")
				h3.matchheight1.h3.text-uppercase Sleek design
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.