section.about.border-bottom#about-anchor
	.container
		.row.mx-auto.text-center.flex-wrap.justify-content-center
			a(href="#").col-12.col-lg-3.col-md-6.col-sm-6.text-decoration-none.about__item.text-reset
				h3.matchheight1.h3.text-uppercase Sleek design
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			a(href="#").col-12.col-lg-3.col-md-6.col-sm-6.text-decoration-none.about__item.text-reset
				h3.matchheight1.h3.text-uppercase Sleek design
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			a(href="#").col-12.col-lg-3.col-md-6.col-sm-6.text-decoration-none.about__item.text-reset
				h3.matchheight1.h3.text-uppercase Sleek design
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			a(href="#").col-12.col-lg-3.col-md-6.col-sm-6.text-decoration-none.about__item.text-reset
				h3.matchheight1.h3.text-uppercase Sleek design
				p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.