section.blog.text-center
	.title__holder.separator
		h2.h2.text-uppercase our blog
		p Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet odio.
	.row.justify-content-center
		.col-xl-6.col-12.blog__item.d-flex.px-0.flex-wrap.justify-content-center
			.blog__img
				img(src="img/blog-img1.jpg")
			.blog__content.text-left
				span art/t-shirt
				h4.h4.text-uppercase T-shirt design
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
				a(href="#") Read More 
		.col-xl-6.col-12.blog__item.d-flex.px-0.flex-wrap.justify-content-center
			.blog__img
				img(src="img/blog-img2.jpg")
			.blog__content.text-left
				span art/t-shirt
				h4.h4.text-uppercase T-shirt design
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
				a(href="#") Read More 
		.col-xl-6.col-12.blog__item.d-flex.px-0.flex-wrap.justify-content-center
			.blog__img
				img(src="img/blog-img1.jpg")
			.blog__content.text-left
				span art/t-shirt
				h4.h4.text-uppercase T-shirt design
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
				a(href="#") Read More 
		.col-xl-6.col-12.blog__item.d-flex.px-0.flex-wrap.justify-content-center
			.blog__img
				img(src="img/blog-img2.jpg")
			.blog__content.text-left
				span art/t-shirt
				h4.h4.text-uppercase T-shirt design
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
				a(href="#") Read More 