footer.footer
	.container
		.row
			ul.col-3
				li
					a(href="#").icon-skype
				li
					a(href="#").icon-google
				li
					a(href="#").icon-skype
				li
					a(href="#").icon-google
				li
					a(href="#").icon-skype
				li
					a(href="#").icon-google
				
			.col-3.text-right
				span Kazi Erfan © All Rights Reserved 