footer.footer
	.container
		.row.text-center
			ul.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12
				li
					a(href="#").icon-skype
				li
					a(href="#").icon-google
				li
					a(href="#").icon-skype
				li
					a(href="#").icon-google
				li
					a(href="#").icon-skype
				li
					a(href="#").icon-google
				
			.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12.text-xl-right.text-lg-right.text-md-right
				span Kazi Erfan © All Rights Reserved 