section.form-contact#contact-anchor
	.container
		.title__holder.text-center.separator
			h2.h2.text-uppercase keep in touch
			p Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
		.row.justify-content-center
			.col-xl-5.col-lg-5.col-md-12.mb-5
				.contacts.matchheight2
					dl
						dt.text-uppercase Our Address
						dd
							address House #13, Streat road, Sydney 2310 Australia
					dl
						dt.text-uppercase call us
						dd 
							a(href="tel:+8801681091425") +8801681091425
							a(href="tel:+0216809142") +0216809142
					dl
						dt.text-uppercase email us
						dd
							a(href="mailto:contactus@email.com") contactus@email.com
			.col-xl-7.col-lg-7.col-md-12
				form.form.matchheight2
					.form-group
						input(placeholder="Name" class="form-controls" type="text")
					.form-group
						input(placeholder="Email" class="form-controls" id="exampleInputEmail1" aria-describedby="emailHelp" type="email")
					.form-group
						input(placeholder="Subject" class="form-controls" type="text")
					.form-group
						textarea(placeholder="Message" class="form-controls" id="exampleFormControlTextarea1" rows="3")
					button.text-uppercase.btn Send message