section.form-contact
	.container
		.title__holder.text-center.separator
			h2.h2.text-uppercase keep in touch
			p Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
		.row
			.col-5
				.contacts
					dl
						dt.text-uppercase Our Address
						dd
							address House #13, Streat road, Sydney 2310 Australia
					dl
						dt.text-uppercase call us
						dd 
							a(href="tel:+8801681091425") +8801681091425
							a(href="tel:+0216809142") +0216809142
					dl
						dt.text-uppercase email us
						dd
							a(href="mailto:contactus@email.com") contactus@email.com
			.col-7
				form.form
					input(placeholder="Name" type="text")
					input(placeholder="Email" type="email")
					input(placeholder="Subject" type="text")
					textarea(placeholder="Message")
					button.text-uppercase.btn Send message