header.header
	nav.navbar.navbar-expand-lg.bg-dark.fixed-top
		.container
			a.navbar-brand(href="#")
				img(src="img/logo.png")
			button.navbar-toggler(type="button" data-target="#navbarNav" aria-expanded="false" aria-controls="navbarNav" aria-label="Toggle navigation")
				span.navbar-toggler-icon.icon-bars
			.collapse.navbar-collapse#navbarNav
				ul.navbar-nav.ml-auto.justify-content-around.text-uppercase.text-center
					li.nav-item
						a.nav-link(href="#") Home
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#about-anchor") about us
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#portfolio-anchor") portfolio
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#pricing-anchor") pricing
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#team-anchor") team
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#blog-anchor") blog
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#contact-anchor") contact
							span.sr-only (current)