header.header
	nav.navbar.navbar-expand-lg.bg-dark.fixed-top
		.container
			a.navbar-brand(href="#")
				img(src="img/logo.png")
			button.navbar-toggler(type="button" data-target="#navbarNav" aria-expanded="false" aria-controls="navbarNav" aria-label="Toggle navigation")
				span.navbar-toggler-icon.icon-star
			.collapse.navbar-collapse#navbarNav
				ul.navbar-nav.ml-auto.justify-content-around.text-uppercase
					li.nav-item
						a.nav-link(href="#") Home
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#") about us
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#") portfolio
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#") pricing
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#") team
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#") blog
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#") contact
							span.sr-only (current)