header.header
    .container
        .row.justify-content-between.align-items-center
            a.col-2.align-self-start
                img(src="img/logo.png" alt="")
            .col-5-7
            ul.nav.text-uppercase.font-weight-bold
                li.nav-item
                    a.nav-link(href="#") Home
                li.nav-item
                    a.nav-link(href="#") about us
                li.nav-item
                    a.nav-link(href="#") portfolio
                li.nav-item
                    a.nav-link(href="#") pricing
                li.nav-item
                    a.nav-link(href="#") team
                li.nav-item
                    a.nav-link(href="#") blog
                li.nav-item
                    a.nav-link(href="#") contact
                    