section.integration.text-center
	.container
		.title__holder.separator
			h2.h2.text-uppercase Great Integrations with Others
			p Suspendisse sed eros mollis, tincidunt felis eget, interdum erat.Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec. 
		.row.justify-content-center
			a(href="#").col-xl.col-lg.col-md-4.col-sm-6.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col-xl.col-lg.col-md-4.col-sm-6.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col-xl.col-lg.col-md-4.col-sm-6.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col-xl.col-lg.col-md-4.col-sm-6.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col-xl.col-lg.col-md-4.col-sm-6.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
		.row.justify-content-center
			a(href="#").col-xl.col-lg.col-md-4.col-sm-6.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col-xl.col-lg.col-md-4.col-sm-6.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col-xl.col-lg.col-md-4.col-sm-6.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col-xl.col-lg.col-md-4.col-sm-6.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col-xl.col-lg.col-md-4.col-sm-6.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud