section.integration.text-center
	.container
		.title__holder.separator
			h2.h2.text-uppercase Great Integrations with Others
			p Suspendisse sed eros mollis, tincidunt felis eget, interdum erat.Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec. 
		.row
			a(href="#").col.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
		.row
			a(href="#").col.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud
			a(href="#").col.mb-3
				.integration__wrap.icon-follow-me-on-soundcloud