section.pricing.text-center
	.container
		.title__holder.separator
			h2.h2.text-uppercase our pricing
			p A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
		.row.justify-content-center
			a.col-xl-4.col-lg-6.col-md-8.pb-4(href="#")
				table
					tr.pricing__class.text-center
						td.h5.text-uppercase starter
						td.anchor.rounded-circle(href="#")
							.pricing__price
								span.price__number.font-weight-bold $19
								span.price__text per month
					tr.pricing__info
						td
							span Competition Analysis Methods
						td
							span All Ranked URLs
						td
							span International Support System
						td
							span Social Media Tracking
						td.btn Choose plan
			a.col-xl-4.col-lg-6.col-md-8.pb-4(href="#")
				table
					tr.pricing__class.text-center
						td.h5.text-uppercase starter
						td.anchor.rounded-circle(href="#")
							.pricing__price
								span.price__number.font-weight-bold $19
								span.price__text per month
					tr.pricing__info
						td
							span Competition Analysis Methods
						td
							span All Ranked URLs
						td
							span International Support System
						td
							span Social Media Tracking
						td.btn Choose plan
			a.col-xl-4.col-lg-6.col-md-8.pb-4(href="#")
				table
					tr.pricing__class.text-center
						td.h5.text-uppercase starter
						td.anchor.rounded-circle(href="#")
							.pricing__price
								span.price__number.font-weight-bold $19
								span.price__text per month
					tr.pricing__info
						td
							span Competition Analysis Methods
						td
							span All Ranked URLs
						td
							span International Support System
						td
							span Social Media Tracking
						td.btn Choose plan