section.pricing.text-center
	.container
		.title__holder.separator
			h2.h2.text-uppercase our pricing
			p A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
		.row
			a.col-4(href="#")
				.pricing__class.text-center
					h5.h5.text-uppercase starter
					.anchor.rounded-circle(href="#")
						.pricing__price
							span.price__number.font-weight-bold $19
							span.price__text per month
				.pricing__info
					span Competition Analysis Methods
					span All Ranked URLs
					span International Support System
					span Social Media Tracking
					.btn Choose plan
			a.col-4(href="#")
				.pricing__class.text-center
					h5.h5.text-uppercase Premiun
					.anchor.rounded-circle(href="#")
						.pricing__price
							span.price__number.font-weight-bold $39
							span.price__text per month
				.pricing__info
					span Competition Analysis Methods
					span All Ranked URLs
					span International Support System
					span Social Media Tracking
					.btn Choose plan
			a.col-4(href="#")
				.pricing__class.text-center
					h5.h5.text-uppercase business
					.anchor.rounded-circle(href="#")
						.pricing__price
							span.price__number.font-weight-bold $99
							span.price__text per month
				.pricing__info
					span Competition Analysis Methods
					span All Ranked URLs
					span International Support System
					span Social Media Tracking
					.btn Choose plan