section.services
	.container-fluid
		.row.services__items
			.services__item
				.col-xl-6.services__inner.text-xl-right.text-lg-right.text-md-right.pl-0.col-lg-7.col-md-9.col-sm-12.text-left.col-12
					.services__info
						h2.h2.text-uppercase.h2-line.px-0.pr-lg-4.pr-xl-4.pr-md-4 our services
						a(href="#").services__content.jumbotron
							.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.lead.pl-2.pl-sm-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						a(href="#").services__content.jumbotron
							.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.lead.pl-2.pl-sm-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						a(href="#").services__content.jumbotron
							.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.lead.pl-2.pl-sm-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
				.col-xl-6.col-lg-5.services__image.pl-0.pr-0.col-md-3.d-none.d-xl-block.d-lg-block.d-md-block
					.services__image-inner
						img(src="img/services-img.jpg")
			.services__item
				.col-xl-6.services__inner.text-xl-right.text-lg-right.text-md-right.pl-0.col-lg-7.col-md-9.col-sm-12.text-left.col-12
					.services__info
						h2.h2.text-uppercase.h2-line.px-0.pr-lg-4.pr-xl-4.pr-md-4 our services
						a(href="#").services__content.jumbotron
							.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.lead.pl-2.pl-sm-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						a(href="#").services__content.jumbotron
							.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.lead.pl-2.pl-sm-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						a(href="#").services__content.jumbotron
							.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.lead.pl-2.pl-sm-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
				.col-xl-6.col-lg-5.services__image.pl-0.pr-0.col-md-3.d-none.d-xl-block.d-lg-block.d-md-block
					.services__image-inner
						img(src="img/services-img.jpg")
			.services__item
				.col-xl-6.services__inner.text-xl-right.text-lg-right.text-md-right.pl-0.col-lg-7.col-md-9.col-sm-12.text-left.col-12
					.services__info
						h2.h2.text-uppercase.h2-line.px-0.pr-lg-4.pr-xl-4.pr-md-4 our services
						a(href="#").services__content.jumbotron
							.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.lead.pl-2.pl-sm-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						a(href="#").services__content.jumbotron
							.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.lead.pl-2.pl-sm-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						a(href="#").services__content.jumbotron
							.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.lead.pl-2.pl-sm-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
				.col-xl-6.col-lg-5.services__image.pl-0.pr-0.col-md-3.d-none.d-xl-block.d-lg-block.d-md-block            
					.services__image-inner
						img(src="img/services-img.jpg")