section.services
	.container-fluid
		.row.services__items
			.col.services__item
				.services__inner.text-right
					.services__info
						h2.h2.text-uppercase.h2-line our services
						.services__content
							a.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services__content
							a.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services__content
							a.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
				.services__image
					.services__image-inner
						img(src="img/services-img.jpg")
			.col.services__item
				.services__inner.text-right
					.services__info
						h2.h2.text-uppercase.h2-line our services
						.services__content
							a.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services__content
							a.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services__content
							a.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
				.services__image
					.services__image-inner
						img(src="img/services-img.jpg")
			.col.services__item
				.services__inner.text-right
					.services__info
						h2.h2.text-uppercase.h2-line our services
						.services__content
							a.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services__content
							a.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services__content
							a.anchor.icon-camera.rounded-circle(href="#")
							h5.h5.text-uppercase Web design
							p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
				.services__image
					.services__image-inner
						img(src="img/services-img.jpg")