section.slider
	.container-fluid
		.row.slider__items
			.col.col-lg.col-md.col-sm.slider__item
				.slider__item-img.wrap_image
					img.images-plagin(src="img/space-wallpapers-1920x1080-00012.jpg")
				.slider__content
					h3 Our Clients Are Our First Priority
					h1.h1.font-weight-bold.separator WELCOME TO BINO
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					.slider__button
						a.btn.mb-3(href="#") GET STARTED NOW
						a.btn.mb-3(href="#") LEARN MORE
			.col.col-lg.col-md.col-sm.slider__item
				.slider__item-img.wrap_image
					img.images-plagin(src="img/wallpapers-nature-1.jpg")
				.slider__content
					h3 Our Clients Are Our First Priority
					h1.h1.font-weight-bold.separator WELCOME TO BINO
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					.slider__button
						a.btn.mb-3(href="#") GET STARTED NOW
						a.btn.mb-3(href="#") LEARN MORE
			.col.col-lg.col-md.col-sm.slider__item
				.slider__item-img.wrap_image
					img.images-plagin(src="img/fantasy-wallpapers-1920x1080-00025.jpg")
				.slider__content
					h3 Our Clients Are Our First Priority
					h1.h1.font-weight-bold.separator WELCOME TO BINO
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					.slider__button
						a.btn.mb-3(href="#") GET STARTED NOW
						a.btn.mb-3(href="#") LEARN MORE
		a#about-link.anchor.icon-anthor-2.rounded-circle(href="#about-anchor")