section.statistic
	.statistic__wrap
		.statistic__image
			img(src="img/stat-img.jpg")
			.container
				.row.text-center
					.col.icon-like
						span.statistic__number.font-weight-bold 3891
						span.statistic__text User Favourites
					.col.icon-like
						span.statistic__number.font-weight-bold 3891
						span.statistic__text User Favourites
					.col.icon-like
						span.statistic__number.font-weight-bold 3891
						span.statistic__text User Favourites
					.col.icon-like
						span.statistic__number.font-weight-bold 3891
						span.statistic__text User Favourites
					.col.icon-like
						span.statistic__number.font-weight-bold 3891
						span.statistic__text User Favourites