section.statistic
	.statistic__wrap
		.statistic__image.wrap_image
			img.images-plagin(src="img/stat-img.jpg")
			.container
				.row.text-center.justify-content-center.justify-content-xl-between
					.col-xl-auto.col-md-3.col-sm-4.pb-4.statistic__item.ml-xl-0.mr-4.ml-4
						.images-wrap
							img(src="img/heart.png")
						strong.statistic__number 3891
						span.statistic__text User Favourites
					.col-xl-auto.col-md-3.col-sm-4.pb-4.statistic__item.ml-4.mr-4
						.images-wrap
							img(src="img/zak.png")
						strong.statistic__number 281K
						span.statistic__text Posts Last 24 Hours
					.col-xl-auto.col-md-3.col-sm-4.pb-4.statistic__item.ml-4.mr-4
						.images-wrap
							img(src="img/class.png")
						strong.statistic__number 618
						span.statistic__text Total Posts
					.col-xl-auto.col-md-3.col-sm-4.pb-4.statistic__item.ml-4.mr-4
						.images-wrap
							img(src="img/civ.png")
						strong.statistic__number 178
						span.statistic__text Campaigns
					.col-xl-auto.col-md-3.col-sm-4.pb-4e.statistic__item.ml-4.mr-xl-0.mr-4
						.images-wrap
							img(src="img/grad.png")
						strong.statistic__number 285
						span.statistic__text Amazing Features