section.statistic
	.statistic__wrap
		.statistic__image
			img(src="img/stat-img.jpg")
			.container
				.row.text-center.justify-content-center.justify-content-xl-between
					.col-xl-auto.col-md-3.col-sm-4.pb-4.icon-like.statistic__item
						span.statistic__number.font-weight-bold 3891
						span.statistic__text User Favourites
					.col-xl-auto.col-md-3.col-sm-4.pb-4.icon-like.statistic__item
						span.statistic__number.font-weight-bold 3891
						span.statistic__text User Favourites
					.col-xl-auto.col-md-3.col-sm-4.pb-4.icon-like.statistic__item
						span.statistic__number.font-weight-bold 3891
						span.statistic__text User Favourites
					.col-xl-auto.col-md-3.col-sm-4.pb-4.icon-like.statistic__item
						span.statistic__number.font-weight-bold 3891
						span.statistic__text User Favourites
					.col-xl-auto.col-md-3.col-sm-4.pb-4.icon-like.statistic__item
						span.statistic__number.font-weight-bold 3891
						span.statistic__text User Favourites