section.study.text-center
	.container
		.title__holder.separator
			h2.h2.text-uppercase case study
			p A brief story about how this process works, keep an eye till the end.
		.row.study__items
			.study__item
				.col.study__wrap.px-0
					.study__content.icon-bulb
						h5.h5.text-uppercase aCCUMULATE CREATIVE IDEAS
						p.font-waight-300 Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
						a(href="#").btn.text-uppercase Read More
				.col.study__inner
					.study-img.d-xl-block.d-lg-block.d-md-block.d-none
						img(src="img/study-bg.jpg")
			.study__item
				.col.study__wrap
					.study__content.icon-bulb
						h5.h5.text-uppercase aCCUMULATE CREATIVE IDEAS
						p.font-waight-300 Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
						a(href="#").btn.text-uppercase Read More
				.col.study__inner
					.study-img.d-xl-block.d-lg-block.d-md-block.d-none
						img(src="img/study-bg.jpg")
			.study__item
				.col.study__wrap
					.study__content.icon-bulb
						h5.h5.text-uppercase aCCUMULATE CREATIVE IDEAS
						p.font-waight-300 Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
						a(href="#").btn.text-uppercase Read More
				.col.study__inner
					.study-img.d-xl-block.d-lg-block.d-md-block.d-none
						img(src="img/study-bg.jpg")