section.works
	.container-fluid
		.title__holder.separator
			h2.h2.text-uppercase recent works
			p It has survived not only five centuries, but also the leap scrambled it to make a type.
		.mix-button
			button.text-uppercase.mixitup-control-active(type="button" data-filter="all") All
			button.text-uppercase(type="button" data-filter=".print") print design
			button.text-uppercase(type="button" data-filter=".animation") Animation
			button.text-uppercase(type="button" data-filter=".art") Art
			button.text-uppercase(type="button" data-filter=".web") Web design
			button.text-uppercase(type="button" data-filter=".photo") Photography
			button.text-uppercase(type="button" data-filter=".video") video
		.row.mix-list
			.col-xl-3.col-lg-3.col-md-3.col-sm-6.mix.print.video
				.mix-label
					h4.h4.text-uppercase T-shirt design
					span.mix-skill art/t-shirt
				a(href="#")
					img(src="img/miximg-1.jpg")
			.col-xl-3.col-lg-3.col-md-3.col-sm-6.mix.art.photo.animation
				.mix-label
					h4.h4.text-uppercase T-shirt design
					span.mix-skill art/t-shirt
				a(href="#")
					img(src="img/miximg-2.jpg")
			.col-xl-3.col-lg-3.col-md-3.col-sm-6.mix.print.web
				.mix-label
					h4.h4.text-uppercase T-shirt design
					span.mix-skill art/t-shirt
				a(href="#")
					img(src="img/miximg-1.jpg")
			.col-xl-3.col-lg-3.col-md-3.col-sm-6.mix.art.video.animation
				.mix-label
					h4.h4.text-uppercase T-shirt design
					span.mix-skill art/t-shirt
				a(href="#")
					img(src="img/miximg-2.jpg")
			.col-xl-3.col-lg-3.col-md-3.col-sm-6.mix.print.photo.web
				.mix-label
					h4.h4.text-uppercase T-shirt design
					span.mix-skill art/t-shirt
				a(href="#")
					img(src="img/miximg-1.jpg")
			.col-xl-3.col-lg-3.col-md-3.col-sm-6.mix.art.video.animation
				.mix-label
					h4.h4.text-uppercase T-shirt design
					span.mix-skill art/t-shirt
				a(href="#")
					img(src="img/miximg-2.jpg")
			.col-xl-3.col-lg-3.col-md-3.col-sm-6.mix.web.art
				.mix-label
					h4.h4.text-uppercase T-shirt design
					span.mix-skill art/t-shirt
				a(href="#")
					img(src="img/miximg-1.jpg")
			.col-xl-3.col-lg-3.col-md-3.col-sm-6.mix.web.video.animation
				.mix-label
					h4.h4.text-uppercase T-shirt design
					span.mix-skill art/t-shirt
				a(href="#")
					img(src="img/miximg-2.jpg")