.about {
  padding: 130px 0 90px;
  .border-bottom {
    border-color: $grey-text2;
  }
}
.about__item {
  padding-top: 100px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin: 0 15px 20px;
  color: $grey-text;
  max-width: 245px;
  .img-wrap{
	  position: absolute;
	  top: 20px;
	  left: 50%;
	  transform: translateX(-50%);
	  img{
		  width: auto;
	  }
  }
  &:before {
    color: $orange;
  }
  &:hover {
    .h3 {
      color: $orange;
    }
    &:after,
    &:before {
      color: $orange;
    }
    &:after {
      border-color: $orange;
      transform: rotate(45deg);
    }
  }
  p {
	font-family: $source;
	line-height: 21px;
  }
  .h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.35px;
	color: $grey-text2;
	font-family: $open;
    @include transition(color);
    position: relative;
    margin-bottom: 25px;
    &:after {
      content: "";
      width: 40px;
      height: 1px;
      background-color: $grey-text2;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15px;
      margin: auto;
    }
  }
  &.icon-heart-o:before{
	top: 23px;
  }
  &.icon-eyeglasses:before{
	  font-size: 35px !important;
	  top: 15px;
  }
  &:before {
    position: absolute;
    font-family: $ico;
    top: 20px;
	left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    @include transition(color);
  }
  &:after {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    border: 1px solid $grey-bord;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    @include transition(transform color border-color);
  }
}
