.blog {
  padding: 100px 0 0;
  background-color: $white-color;
  .title__holder{
	  h2{
		  letter-spacing: 0;
	  }
  }
  .row {
    margin: 0;
  }
  .blog__item {
    &:nth-child(3n),
    &:nth-of-type(4n) {
      .blog__img {
        order: 2;
      }
      .blog__content {
        &:before {
          left: auto;
          right: -30px;
          border-left: 90px solid $orange;
          border-right: none;
        }
      }
    }
  }
}
.blog__img {
  width: 50%;
  z-index: 1;
}
.blog__content {
  z-index: 2;
  width: 50%;
  background-color: $orange;
  padding: 70px 50px;
  color: $white;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 90px solid transparent;
    border-right: 90px solid $orange;
    border-bottom: 90px solid transparent;
  }
  span {
    letter-spacing: 1.7px;
    font-size: 14px;
    margin-bottom: 23px;
    display: block;
  }
  .h4 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1.2px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
    &:after {
      content: "";
      width: 43px;
      height: 4px;
      background-color: $white;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  p {
    color: $white;
	line-height: 30px;
	font-size: 16px;
	font-family: $open;
    margin-bottom: 40px;
  }
  a {
    font-style: italic;
    font-size: 16px;
    font-weight: 700;
    color: $white;
    @include transition(opacity);
    &:hover {
      opacity: .7;
    }
  }
}
