.form-contact {
  background-color: $white-color;
  padding: 160px 0 98px;
  .title__holder{
	  h2{
		  letter-spacing: 0;
	  }
  }
  .form,
  .contacts {
    background-color: $white;
  }
  .form {
	  &-group{
		  margin-bottom: 7px;
	  }
    padding: 80px 95px;
    textarea {
      margin-bottom: 50px;
	}
	.btn{
		padding: 10px 26px;
		margin-left: 11px;
	}
  }
}
.contacts {
  padding: 93px 88px;
  dl{
	  margin-bottom: 50px;
  }
  dt {
    font-weight: 600;
    font-size: 24px;
    font-family: $source;
    color: $orange;
    margin-bottom: 15px;
  }
  dd,
  dd a {
    font-size: 18px;
    color: $grey;
    display: block;
  }
  dd a {
    @include transition(opacity);
    &:hover {
      opacity: .7;
    }
  }
}