.form-contact{
	background-color: $white-color;
	padding: 135px 0 145px;
	.form,.contacts{
		background-color: $white;
	}
	.form{
		padding: 80px 95px;
		textarea{
			margin-bottom: 20px;
		}
	}
}
.contacts{
	padding: 90px 80px;
	dt{
		font-weight: 600;
		font-size: 24px;
		font-family: $source;
		color: $orange;
		margin-bottom: 15px;
	}
	dd,dd a{
		font-size: 18px;
		color: $grey;
		display: block;
	}
	dd a{
		@include transition(opacity);
		&:hover{
			opacity: .7;
		}
	}
}