.integration {
  padding: 140px 0 120px;
  background-color: $white-color;
  border-bottom: 1px solid $grey-bord;
  h2.h2{letter-spacing: 0;}
  .title__holder{
	p{
		font-family: $open;
		line-height: 21px;
	}
  }
  .integration__wrap {
    background-color: $white;
    height: 100px;
    padding: 20px 0;
    @include transition(background-color);
    &:hover {
      background-color: $orange;
      &::before {
        color: $white;
      }
    }
    &:before {
      font-size: 80px;
      position: absolute;
      color: $grey-text;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include transition(color);
    }
  }
}
