.pricing {
  padding: 156px 0 116px;
  table {
    width: 100%;
    tr,td,thead {
      display: block;
    }
  }
  span {
    outline: none;
  }
  .pricing__items {
    &:hover {
      thead {
        background-color: $orange;
      }
      .pricing__info {
        .btn {
          background-color: $orange;
          opacity: 1;
        }
      }
      .anchor {
        box-shadow: 0 0 6px 11px rgba(244, 245, 249, 0.6);
      }
    }
  }
}
thead {
  padding: 45px 0 127px;
  background-color: $grey-text;
  color: $white;
  position: relative;
  @include transition(background-color);
  .anchor {
    width: 150px;
    height: 150px;
    background-color: $white;
    bottom: -75px;
  }
  .h5 {
    font-size: 24px;
    font-weight: 600;
    font-family: $source;
    letter-spacing: 1.8px;
  }
}
.pricing__info {
  padding: 120px 0 31px;
  background-color: $white-color;
  a.btn {
    background-color: $grey-text;
	display: inline-block;
	padding: 12px 24px;
	margin-top: 30px;
  }
  td {
	padding: 0 20px;
	font-size: 14px;
	margin-bottom: 18px;
  }
  strong {
    display: block;
    color: $grey-text;
  }
}
.pricing__price {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  strong,span {
    display: block;
    color: $grey-text;
    font-family: $source;
  }
  .price__number {
    font-size: 40px;
    line-height: 40px;
  }
}
