.services {
	position: relative;
  .anchor {
    right: -115px;
    top: 50%;
    transform: translateY(-50%);
    margin: inherit;
  }
  .slick-dots {
    font-size: 0;
    text-decoration: none;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    li {
      cursor: pointer;
      padding: 0 5px;
    }
    .slick-active {
      button {
        width: 3px;
        background-color: $orange;
      }
    }
    button {
      padding: 0;
      margin: 0;
      width: 2px;
      height: 34px;
      background-color: $dots;
      margin-bottom: 10px;
      outline: none;
      border: none;
    }
  }
}
.services__item {
  display: flex !important;
  padding: 0;
  .jumbotron {
    padding: 0;
    background-color: transparent;
  }
  .lead {
    font-size: 14px;
    font-weight: normal;
  }
}
.services__inner,
.services__image {
  width: 100%;
}
.services__info {
  padding: 140px 0 140px 40px;
  a{
	  display: block;
  }
}
.services__inner {
  background-color: $dark;
  padding-right: 85px;
  .h2 {
    color: $white;
    margin-bottom: 60px;
  }
  .h5 {
    color: $orange;
    font-size: 18px;
    font-weight: 600;
  }
  .h2-line {
    &:before {
      right: 0;
      left: auto;
      background-color: $orange;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.services__image img {
  width: 100%;
}
.services__content {
  max-width: 570px;
  margin-left: auto;
  margin-bottom: 60px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
}
