.slider {
  position: relative;
}
.slick-initialized .slick-slide{
  outline: none;
  border: none;
}
.slider__item {
  position: relative;
  height: 1000px;
    &:after {
      content: "";
      position: absolute;
      background-image: url('../img/bg-fon.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1;
      left: 0;
      right: 0;
    }
}
.slider__item-img {
  position: relative;
  z-index: 1;
  outline: none;
}
.slider__content {
  max-width: 800px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white-color;
  z-index: 2;
  span {
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
  }
  .h1 {
    margin-bottom: 75px;
  }
  .separator{
    &:after{
    background: linear-gradient(to right, $white 41%, transparent 0, transparent 58%, $white 41%);
    }
  }
  p {
    max-width: 590px;
    margin: 0 auto 60px;
    color: $choco-color;
  }
  .btn {
    margin: 0 15px;
    padding: 15px 65px;
    background-color: transparent;
    border: 1px solid $white;
    @include hover-btn;
    &:first-child {
      padding: 15px 45px;
    }
  }
}
.slick-btn {
  position: absolute;
  z-index: 6;
  width: 45px;
  height: 26px;
  top: 50%;
  font-family: $ico;
  font-size: 31px;
  color: $grey;
  background-color: transparent;
  border: none;
  outline: none !important;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 0;
  &:hover{
    &:after{
      color: $orange;
      background-color: $white;
    }
  }
}
.slick-next,.slick-prev{
  &:after{
    position: absolute;
    content: "\e902";
    line-height: 45px;
    font-size: 45px;
    top: -20px;
    left: 0;
    border: none;
    border-radius: 50%;
    @include transition(color background-color)
  }
}
.slick-prev {
  left: 50px;
}
.slick-next {
  right: 50px;
  &:after{
    transform: rotate(180deg)
  }
}