doctype html
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, user-scalable=yes, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>bs4</title>
	<link href="favicon.ico" rel="shortcut icon">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.min.css">
body
	div#main
		include ../modules/header
		include ../modules/slider
		include ../modules/about
		include ../modules/history
		include ../modules/services
		include ../modules/works            
		include ../modules/study
		include ../modules/statistic
		include ../modules/pricing
		include ../modules/team
		include ../modules/integration
		include ../modules/blog
		include ../modules/form-contact
		include ../modules/trial-test
		include ../modules/footer
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"crossorigin="anonymous"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/main.js"></script>