doctype html
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, user-scalable=yes, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>bs4</title>
	<link href="favicon.ico" rel="shortcut icon">
	<link rel="stelesheet" href="libs/bootstrap-4/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="libs/bootstrap-4/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.min.css">
body
	div#main
		include ../modules/header
		section.slider
			.container-fluid
				.row.slider__items
					.col.slider__item
						.slider__item-img
							img(src="img/slider-bg.png")
						.slider__content
							span Our Clients Are Our First Priority
							h1.h1.font-weight-bold.separator WELCOME TO BINO
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							.slider__button
								a.btn.mb-3(href="#") GET STARTED NOW
								a.btn.mb-3(href="#") LEARN MORE
					.col.slider__item
						.slider__item-img
							img(src="img/slider-bg.png")
						.slider__content
							span Our Clients Are Our First Priority
							h1.h1.font-weight-bold.separator WELCOME TO BINO
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							.slider__button
								a.btn.mb-3(href="#") GET STARTED NOW
								a.btn.mb-3(href="#") LEARN MORE
					.col-12.slider__item
						.slider__item-img
							img(src="img/slider-bg.png")
						.slider__content
							span Our Clients Are Our First Priority
							h1.h1.font-weight-bold.separator WELCOME TO BINO
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							.slider__button
								a.btn.mb-3(href="#") GET STARTED NOW
								a.btn.mb-3(href="#") LEARN MORE
				a.anchor.icon-anchor.rounded-circle(href="#")
		section.about.border-bottom
			.container
				.row.mx-auto.text-center
					a(href="#").col-3.text-decoration-none.about__item.text-reset
						h3.matchheight1.h3.text-uppercase Sleek design
						p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
					a(href="#").col-3.text-decoration-none.about__item.text-reset
						h3.matchheight1.h3.text-uppercase Sleek design
						p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
					a(href="#").col-3.text-decoration-none.about__item.text-reset
						h3.matchheight1.h3.text-uppercase Sleek design
						p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
					a(href="#").col-3.text-decoration-none.about__item.text-reset
						h3.matchheight1.h3.text-uppercase Sleek design
						p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
		section.history
			.container
				.row
					.col-6
						.mac-image
							img(src="img/mac-img.png")
					.col-6
						h2.h2.text-uppercase.h2-line.mb-5 our history
						p.mb-4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book. 
						p.mb-5 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						a.btn(href="#") Browse our Work
		section.services
			.container-fluid
				.row.services__items
					.col.services__item
						.services__inner.text-right
							.services__info
								h2.h2.text-uppercase.h2-line our services
								.services__content
									a.anchor.icon-camera.rounded-circle(href="#")
									h5.h5.text-uppercase Web design
									p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
								.services__content
									a.anchor.icon-camera.rounded-circle(href="#")
									h5.h5.text-uppercase Web design
									p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
								.services__content
									a.anchor.icon-camera.rounded-circle(href="#")
									h5.h5.text-uppercase Web design
									p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services__image
							.services__image-inner
								img(src="img/services-img.jpg")
					.col.services__item
						.services__inner.text-right
							.services__info
								h2.h2.text-uppercase.h2-line our services
								.services__content
									a.anchor.icon-camera.rounded-circle(href="#")
									h5.h5.text-uppercase Web design
									p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
								.services__content
									a.anchor.icon-camera.rounded-circle(href="#")
									h5.h5.text-uppercase Web design
									p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
								.services__content
									a.anchor.icon-camera.rounded-circle(href="#")
									h5.h5.text-uppercase Web design
									p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services__image
							.services__image-inner
								img(src="img/services-img.jpg")
					.col.services__item
						.services__inner.text-right
							.services__info
								h2.h2.text-uppercase.h2-line our services
								.services__content
									a.anchor.icon-camera.rounded-circle(href="#")
									h5.h5.text-uppercase Web design
									p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
								.services__content
									a.anchor.icon-camera.rounded-circle(href="#")
									h5.h5.text-uppercase Web design
									p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
								.services__content
									a.anchor.icon-camera.rounded-circle(href="#")
									h5.h5.text-uppercase Web design
									p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services__image
							.services__image-inner
								img(src="img/services-img.jpg")
		section.works
			.container-fluid
				.title__holder.separator
					h2.h2.text-uppercase recent works
					p It has survived not only five centuries, but also the leap scrambled it to make a type.
				.mix-button
					button.text-uppercase.mixitup-control-active(type="button" data-filter="all") All
					button.text-uppercase(type="button" data-filter=".print") print design
					button.text-uppercase(type="button" data-filter=".animation") Animation
					button.text-uppercase(type="button" data-filter=".art") Art
					button.text-uppercase(type="button" data-filter=".web") Web design
					button.text-uppercase(type="button" data-filter=".photo") Photography
					button.text-uppercase(type="button" data-filter=".video") video
				.row.mix-list
					.col-3.mix.print.video
						.mix-label
							h4.h4.text-uppercase T-shirt design
							span.mix-skill art/t-shirt
						a(href="#")
							img(src="img/miximg-1.jpg")
					.col-3.mix.art.photo.animation
						.mix-label
							h4.h4.text-uppercase T-shirt design
							span.mix-skill art/t-shirt
						a(href="#")
							img(src="img/miximg-2.jpg")
					.col-3.mix.print.web
						.mix-label
							h4.h4.text-uppercase T-shirt design
							span.mix-skill art/t-shirt
						a(href="#")
							img(src="img/miximg-1.jpg")
					.col-3.mix.art.video.animation
						.mix-label
							h4.h4.text-uppercase T-shirt design
							span.mix-skill art/t-shirt
						a(href="#")
							img(src="img/miximg-2.jpg")
					.col-3.mix.print.photo.web
						.mix-label
							h4.h4.text-uppercase T-shirt design
							span.mix-skill art/t-shirt
						a(href="#")
							img(src="img/miximg-1.jpg")
					.col-3.mix.art.video.animation
						.mix-label
							h4.h4.text-uppercase T-shirt design
							span.mix-skill art/t-shirt
						a(href="#")
							img(src="img/miximg-2.jpg")
					.col-3.mix.web.art
						.mix-label
							h4.h4.text-uppercase T-shirt design
							span.mix-skill art/t-shirt
						a(href="#")
							img(src="img/miximg-1.jpg")
					.col-3.mix.web.video.animation
						.mix-label
							h4.h4.text-uppercase T-shirt design
							span.mix-skill art/t-shirt
						a(href="#")
							img(src="img/miximg-2.jpg")            
		section.study.text-center
			.container
				.title__holder.separator
					h2.h2.text-uppercase case study
					p A brief story about how this process works, keep an eye till the end.
				.row.study__items
					.col.study__item
						.study__wrap
							.study__content.icon-bulb
								h5.h5.text-uppercase aCCUMULATE CREATIVE IDEAS
								p.font-waight-300 Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
								a(href="#").btn.text-uppercase Read More
						.study__inner
							.study-img
								img(src="img/study-bg.jpg")
					.col.study__item
						.study__wrap
							.study__content.icon-bulb
								h5.h5.text-uppercase aCCUMULATE CREATIVE IDEAS
								p.font-waight-300 Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
								a(href="#").btn.text-uppercase Read More
						.study__inner
							.study-img
								img(src="img/study-bg.jpg")
					.col.study__item
						.study__wrap
							.study__content.icon-bulb
								h5.h5.text-uppercase aCCUMULATE CREATIVE IDEAS
								p.font-waight-300 Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
								a(href="#").btn.text-uppercase Read More
						.study__inner
							.study-img
								img(src="img/study-bg.jpg")
		section.statistic
			.statistic__wrap
				.statistic__image
					img(src="img/stat-img.jpg")
					.container
						.row.text-center
							.col.icon-like
								span.statistic__number.font-weight-bold 3891
								span.statistic__text User Favourites
							.col.icon-like
								span.statistic__number.font-weight-bold 3891
								span.statistic__text User Favourites
							.col.icon-like
								span.statistic__number.font-weight-bold 3891
								span.statistic__text User Favourites
							.col.icon-like
								span.statistic__number.font-weight-bold 3891
								span.statistic__text User Favourites
							.col.icon-like
								span.statistic__number.font-weight-bold 3891
								span.statistic__text User Favourites
		section.pricing.text-center
			.container
				.title__holder.separator
					h2.h2.text-uppercase our pricing
					p A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
				.row
					a.col-4(href="#")
						.pricing__class.text-center
							h5.h5.text-uppercase starter
							.anchor.rounded-circle(href="#")
								.pricing__price
									span.price__number.font-weight-bold $19
									span.price__text per month
						.pricing__info
							span Competition Analysis Methods
							span All Ranked URLs
							span International Support System
							span Social Media Tracking
							.btn Choose plan
					a.col-4(href="#")
						.pricing__class.text-center
							h5.h5.text-uppercase Premiun
							.anchor.rounded-circle(href="#")
								.pricing__price
									span.price__number.font-weight-bold $39
									span.price__text per month
						.pricing__info
							span Competition Analysis Methods
							span All Ranked URLs
							span International Support System
							span Social Media Tracking
							.btn Choose plan
					a.col-4(href="#")
						.pricing__class.text-center
							h5.h5.text-uppercase business
							.anchor.rounded-circle(href="#")
								.pricing__price
									span.price__number.font-weight-bold $99
									span.price__text per month
						.pricing__info
							span Competition Analysis Methods
							span All Ranked URLs
							span International Support System
							span Social Media Tracking
							.btn Choose plan
		section.team.text-center
			.team__graf
				.team__graf-img
					img(src="img/team-graf.png")
				.team__persons
					a.team-person(href="#")
						.team__image
							img(src="img/team-1.png")
						.team__info.text-center
							h5.h5 Kazi Erfan
							p Ul/UX Design
					a.team-person(href="#")
						.team__image
							img(src="img/team-1.png")
						.team__info.text-center
							h5.h5 Kazi Erfan
							p Ul/UX Design
					a.team-person(href="#")
						.team__image
							img(src="img/team-1.png")
						.team__info.text-center
							h5.h5 Kazi Erfan
							p Ul/UX Design
					a.team-person(href="#")
						.team__image
							img(src="img/team-1.png")
						.team__info.text-center
							h5.h5 Kazi Erfan
							p Ul/UX Design
					a.team-person(href="#")
						.team__image
							img(src="img/team-1.png")
						.team__info.text-center
							h5.h5 Kazi Erfan
							p Ul/UX Design
			.title__holder.separator
				h2.text-uppercase.font-weight-bold our team
				p Meet the craziest team. Share your thoughts with them.
		section.integration.text-center
			.container
				.title__holder.separator
					h2.h2.text-uppercase Great Integrations with Others
					p Suspendisse sed eros mollis, tincidunt felis eget, interdum erat.Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec. 
				.row
					a(href="#").col.mb-3
						.integration__wrap.icon-follow-me-on-soundcloud
					a(href="#").col.mb-3
						.integration__wrap.icon-follow-me-on-soundcloud
					a(href="#").col.mb-3
						.integration__wrap.icon-follow-me-on-soundcloud
					a(href="#").col.mb-3
						.integration__wrap.icon-follow-me-on-soundcloud
					a(href="#").col.mb-3
						.integration__wrap.icon-follow-me-on-soundcloud
				.row
					a(href="#").col.mb-3
						.integration__wrap.icon-follow-me-on-soundcloud
					a(href="#").col.mb-3
						.integration__wrap.icon-follow-me-on-soundcloud
					a(href="#").col.mb-3
						.integration__wrap.icon-follow-me-on-soundcloud
					a(href="#").col.mb-3
						.integration__wrap.icon-follow-me-on-soundcloud
					a(href="#").col.mb-3
						.integration__wrap.icon-follow-me-on-soundcloud
		section.blog.text-center
			.title__holder.separator
				h2.h2.text-uppercase our blog
				p Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet odio.
			.row
				.col-6
					.blog__img
						img(src="img/blog-img1.jpg")
					.blog__content.text-left
						span art/t-shirt
						h4.h4.text-uppercase T-shirt design
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
						a(href="#") Read More 
				.col-6
					.blog__img
						img(src="img/blog-img2.jpg")
					.blog__content.text-left
						span art/t-shirt
						h4.h4.text-uppercase T-shirt design
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
						a(href="#") Read More 
				.col-6
					.blog__img
						img(src="img/blog-img1.jpg")
					.blog__content.text-left
						span art/t-shirt
						h4.h4.text-uppercase T-shirt design
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
						a(href="#") Read More 
				.col-6
					.blog__img
						img(src="img/blog-img2.jpg")
					.blog__content.text-left
						span art/t-shirt
						h4.h4.text-uppercase T-shirt design
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
						a(href="#") Read More 
		section.form-contact
			.container
				.title__holder.text-center.separator
					h2.h2.text-uppercase keep in touch
					p Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
				.row
					.col-5
						.contacts
							dl
								dt.text-uppercase Our Address
								dd
									address House #13, Streat road, Sydney 2310 Australia
							dl
								dt.text-uppercase call us
								dd 
									a(href="tel:+8801681091425") +8801681091425
									a(href="tel:+0216809142") +0216809142
							dl
								dt.text-uppercase email us
								dd
									a(href="mailto:contactus@email.com") contactus@email.com
					.col-7
						form.form
							input(placeholder="Name" type="text")
							input(placeholder="Email" type="email")
							input(placeholder="Subject" type="text")
							textarea(placeholder="Message")
							button.text-uppercase.btn Send message
		section.trial-test.text-center
			.container
				h3.h3 Let's Get Started Now. 
					span.font-weight-bold It's FREE!
				p 30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.
				a.btn.text-uppercase(href="#") start free trial
		include ../modules/footer














	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"crossorigin="anonymous"></script>
	<script src="libs/bootstrap-4/js/bootstrap.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/main.js"></script>