doctype html
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, user-scalable=yes, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bs4</title>
  <link href="favicon.ico" rel="shortcut icon">
  <link rel="stelesheet" href="libs/bootstrap-4/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="libs/bootstrap-4/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.min.css">
body
  div#main
    include ../modules/header
    section.slider 
      .slider__items
        .slider__item
          .slider__item-img
            img(src="img/slider-bg.png")
          .slider__content
            span Our Clients Are Our First Priority
            h1.h1.font-weight-bold.separator WELCOME TO BINO
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            .slider__button
                a.btn(href="#") GET STARTED NOW
                a.btn(href="#") LEARN MORE
        .slider__item
          .slider__item-img
            img(src="img/slider-bg.png")
          .slider__content
            span Our Clients Are Our First Priority
            h1.h1.font-weight-bold.separator WELCOME TO BINO
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            .slider__button
                a.btn(href="#") GET STARTED NOW
                a.btn(href="#") LEARN MORE
        .slider__item
          .slider__item-img
            img(src="img/slider-bg.png")
          .slider__content
            span Our Clients Are Our First Priority
            h1.h1.font-weight-bold.separator WELCOME TO BINO
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            .slider__button
                a.btn(href="#") GET STARTED NOW
                a.btn(href="#") LEARN MORE
      a.anchor.rounded-circle(href="#")
    section.about.text-center
        .container
            .row.mx-auto
                a(href="#").col-3.text-decoration-none.about__item.text-reset
                    h3.h3.text-uppercase Sleek design
                    p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                a(href="#").col-3.text-decoration-none.about__item.text-reset
                    h3.h3.text-uppercase Sleek design
                    p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                a(href="#").col-3.text-decoration-none.about__item.text-reset
                    h3.h3.text-uppercase Sleek design
                    p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                a(href="#").col-3.text-decoration-none.about__item.text-reset
                    h3.h3.text-uppercase Sleek design
                    p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"crossorigin="anonymous"></script>
  <script src="libs/bootstrap-4/js/bootstrap.min.js"></script>
  <script src="js/libs.min.js"></script>
  <script src="js/main.js"></script>