doctype html
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, user-scalable=yes, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bs4</title>
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="stelesheet" href="libs/bootstrap-4/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
body
    .container
        ul.nav.text-uppercase.font-weight-bold
            li.nav-item
                a.nav-link(href="#") Home
            li.nav-item
                a.nav-link(href="#") about us
            li.nav-item
                a.nav-link(href="#") portfolio
            li.nav-item
                a.nav-link(href="#") pricing
            li.nav-item
                a.nav-link(href="#") team
            li.nav-item
                a.nav-link(href="#") blog
            li.nav-item
                a.nav-link(href="#") contact