doctype html
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, user-scalable=yes, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bs4</title>
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="stelesheet" href="libs/bootstrap-4/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
body
    .container
        ul.nav.text-uppercase.font-weight-bold
            li.nav-item
                a.nav-link(href="#") Home
            li.nav-item
                a.nav-link(href="#") about us
            li.nav-item
                a.nav-link(href="#") portfolio
            li.nav-item
                a.nav-link(href="#") pricing
            li.nav-item
                a.nav-link(href="#") team
            li.nav-item
                a.nav-link(href="#") blog
            li.nav-item
                a.nav-link(href="#") contact
        section.slider
            .slider__items
                .slider__item
                    .slider__item-img
                        img(src="img/slider-bg.png")
                    .slider__content
                        span Our Clients Are Our First Priority
                        h1.h1.font-weight-bold.separator WELCOME TO BINO
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        .slider__button
                            a.btn(href="#") GET STARTED NOW
                            a.btn(href="#") LEARN MORE
                .slider__item
                    .slider__item-img
                        img(src="img/slider-bg.png")
                    .slider__content
                        span Our Clients Are Our First Priority
                        h1.h1.font-weight-bold.separator WELCOME TO BINO
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        .slider__button
                            a.btn(href="#") GET STARTED NOW
                            a.btn(href="#") LEARN MORE
                .slider__item
                    .slider__item-img
                        img(src="img/slider-bg.png")
                    .slider__content
                        span Our Clients Are Our First Priority
                        h1.h1.font-weight-bold.separator WELCOME TO BINO
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        .slider__button
                            a.btn(href="#") GET STARTED NOW
                            a.btn(href="#") LEARN MORE
        .row.mx-auto.text-center
                a(href="#").col-3.text-decoration-none.about__item.text-reset
                    h3.h3.text-uppercase Sleek design
                    p.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
        section.services
            .services__items
                .services__item
                    .services__inner.text-right
                        .services__info
                            h2.h2.text-uppercase.h2-line our services
                            .services__content
                                a.anchor.icon-camera.rounded-circle(href="#")
                                h5.h5.text-uppercase Web design
                                p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                            .services__content
                                a.anchor.icon-camera.rounded-circle(href="#")
                                h5.h5.text-uppercase Web design
                                p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                            .services__content
                                a.anchor.icon-camera.rounded-circle(href="#")
                                h5.h5.text-uppercase Web design
                                p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                    .services__image
                        .services__image-inner
                            img(src="img/services-img.jpg")
                .services__item
                    .services__inner.text-right
                        .services__info
                            h2.h2.text-uppercase.h2-line our services
                            .services__content
                                a.anchor.icon-camera.rounded-circle(href="#")
                                h5.h5.text-uppercase Web design
                                p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                            .services__content
                                a.anchor.icon-camera.rounded-circle(href="#")
                                h5.h5.text-uppercase Web design
                                p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                            .services__content
                                a.anchor.icon-camera.rounded-circle(href="#")
                                h5.h5.text-uppercase Web design
                                p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                    .services__image
                        .services__image-inner
                            img(src="img/services-img.jpg")
                .services__item
                    .services__inner.text-right
                        .services__info
                            h2.h2.text-uppercase.h2-line our services
                            .services__content
                                a.anchor.icon-camera.rounded-circle(href="#")
                                h5.h5.text-uppercase Web design
                                p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                            .services__content
                                a.anchor.icon-camera.rounded-circle(href="#")
                                h5.h5.text-uppercase Web design
                                p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                            .services__content
                                a.anchor.icon-camera.rounded-circle(href="#")
                                h5.h5.text-uppercase Web design
                                p.pl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
                    .services__image
                        .services__image-inner
                            img(src="img/services-img.jpg")
        section.works
          .mix-list
                .mix.print.video
                        .mix-label
                                h4.h4.text-uppercase T-shirt design
                                span.mix-skill art/t-shirt
                        a(href="#")
                                img(src="img/miximg-1.jpg")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"crossorigin="anonymous"></script>
<script src="libs/bootstrap-4/js/bootstrap.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/main.js"></script>