.nav-item a{
    color: $menu-color;
    font-size: 14px;
    transition: color .7s;
    position: relative; 
    &:after{
            position: absolute;
            visibility: hidden;
            opacity: 0;
            content: "";
            width:65%;
            height: 1px;
            background-color: $hover-color;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity visibility .7s;
        }
    &:hover{
        color: $hover-color;
        &:after{
            visibility: visible;
            opacity: 1;
        }
    }
}